.btns-sign-in{
  
    display: flex;
     justify-content: space-between;

}

.Sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3em;
}